.players {
  height: 78vh;
}
.players div:first-child {
  position: relative;
}
.players div:nth-child(2) {
  position: relative;
  top: -20rem;
  left: -3rem;
  z-index: 1;
}
.players div:nth-child(3) {
  position: relative;
  top: -40rem;
  left: -6rem;
  z-index: 2;
}
.players div:nth-child(4) {
  position: relative;
  top: -60rem;
  left: -9rem;
  z-index: 3;
}
